
.app-catalog{
  display: flex;
  flex-direction: column;
  transition: all 0.3s linear;
}
.app-catalog-header{
  display: flex;
  align-items: center;
  margin: 2px;
  .app-catalog-header-title{
    color: #ddd;
    text-decoration: none;
    margin-right: 10px;
    :hover{
      color: #66ccff;
    }
  }
  .app-catalog-header-tag{
    color: #000;
    :hover{
      color: #66ccff;
    }
  }

}
.app-catalog-date{
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  color: #666;
  svg{
    fill: #666;
  }
  &:hover{
    color: #777;
    svg{
      fill: #777;
    }
  }
}
.app-catalog-summary{
  padding: 8px;
  border-radius: 8px;
}