@import "../../index";
.app-sidebar {
    border-left: 0;
    left: -25vw;
    top: 0;
    position: fixed;
    transition: margin-left 0.3s ease-in-out; /* 动画效果 */
    z-index: 9999; /* 确保在最上层 */
}
.app-sidebar-open {
    transition: margin-left 0.3s ease-in-out; /* 动画效果 */
    margin-left: 25vw;
}

.app-sidebar-container {
    top: 0;
    left: 0;
    height: 100vh;
    width: 25vw; /* 宽度 */
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto; /* 如果内容超出，允许滚动 */
    background-color: rgb(52,58,70,1);
    box-sizing: border-box;
    box-shadow: 2px 0 0 rgba(255, 255, 255, 0.1);
    padding: 10px;
  }
.app-sidebar-container *{
    transition: all 0.2s linear;
}
.app-sidebar-scroll{
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.app-sidebar-iconList{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    left: calc(25vw + 20px);
    gap: 20px;
    bottom: 2%;
    .app-sidebar-default-button{
        border-radius: 5px;
        cursor: pointer;
        border: none;
        padding: 2px;
        width: 20px;
        height: 20px;
        text-align: center;
        background-color: #444;
        transition: all 1s linear;
        svg{
            fill: white;
        }
        &:hover{
            background-color: #777;
        }
    }
}
.app-sidebar-button-default-animation{
    animation: show 1s linear forwards;
}
.app-sidebar-top-button{
    animation: hidden 0.3s linear forwards;
    position: absolute;
}
.app-sidebar-top-button-show{
    animation: top-show 1s linear forwards;
    position: relative;
}
.app-sidebar-open-button-open{
    transform: rotate(180deg);
}
@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes hidden {
    from {
        bottom: 0;
    }
    to {
        bottom: -100px;
    }
}
@keyframes top-show {
    from {
        bottom: -100px;
    }
    to {
        bottom: 0;
    }
}