* {
  scrollbar-width: thin; /* 可选值：auto, thin, none */
  scrollbar-color: rgba(0, 0, 0, 0) rgba(255, 255, 255, 0); /* 滑块颜色 轨道颜色 */
  margin: 0;
  padding: 0;
}
html, body{
  overflow: hidden;
  background-color: rgb(52,58,70,1);
  width: 100vw;
  height: 100vh;
}
@link-color: #999999;
@link-hover-color: #ccc;
.icon-link{
  color: @link-color;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #999999;
  gap: 4px;
  &:hover{
    color: @link-hover-color;
    svg{
      fill: @link-hover-color;
    }
  }
  svg{
    fill: @link-color;
    &:hover{
      fill: @link-hover-color;
    }
  }
}
*, ::before, ::after {
  border-color: rgb(39, 55, 76);
}